[groups]
group1 = user1, user2
group2 = user3, user4

[system]
init = @group1, user4

[defaults]
location = repos/$r
@group1 = rw
@group2 = r

[r:myrepo1]
location = folder/to/repos/myrepo1
@group1 = rw
user3 = r
user4 = rw

[r:myrepo2]
location = folder/to/repos/subdir/differentNamedRepo
@group2 = rw
user1 = r
